body{
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1518291344630-4857135fb581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display:flex;
    justify-content: space-evenly;
    background-color:rgba(35, 136, 230, 0.502);
    border-radius: .25em;
}

.main-sidebar{
	text-align: center;
}

#foodSpace{
    color: black;
}
h1 {
   display:flex;
   font-weight: 700; 
   justify-content: center;
   font-size: 3em; 
}

a {
    font-size: 1.25em;
    color: white;
  
}

a:hover {
    color: rgb(50, 13, 13);
}


#container {
    justify-items: center;
    padding-top: 1.5em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    padding: .5em;
    border: 3px solid black;
    border-radius: 5px;
    width: 19em;

}

img:hover {
 opacity: .75;
 background: #480a02;
 -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.list-of-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 1em;
    /* padding: 200px; */
    background-color: rgba(33, 33, 33, 0.707);
     width: 600px;
}