body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1518291344630-4857135fb581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
   display:flex;
   font-weight: 700; 
   justify-content: center;

   font-size: 4.9em;
   color: black;
  
}

a {
    font-size: 1.25em;
    color: white;
    padding: 2em;
    
}

a:hover {
    color: rgb(22, 18, 18);
}

#enter {
    display:flex;
    justify-content: center;
}

#container {
    justify-items: center;
    padding-top: 1.5em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

#mainpage {
    display:flex;
    justify-content: center;
}

#login {
    font-size: 5em;
    padding: 0.5em;
}



#signUp {
    background-color: rgba(35, 136, 230, 0.502);
    padding-top: .05em;
    display: flex;
    justify-content: center;
 
}

#newUserForm{
    color: black;
    font-size: 2em;
}

input {
    width: 15em;
    height: 2em;
}

#submit {
    display: flex;
    justify-content: center;
    width: 13em;
    height: 12em;
}