body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1518291344630-4857135fb581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
}


p {
    font-size: 1.25em;
    color: white;
    text-shadow: 2px 2px rgb(0, 81, 99);
}

.header {
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(0, 142, 174, 0.783);
    border-radius: .25em;
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    font-size: 1.5em;
    color: white;
    padding: 2em;
}

a:hover{
    color: rgba(35, 136, 230, 0.502);
}

.deletePost{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 20px
}

.relative{
    position: relative;
}

#posts-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 1em;
    padding-left: 300px;
}

#new-post {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    padding-left: 300px;
    padding-bottom: 25px;
    
}

textarea {
    border: 3px solid black;
    border-radius: 5px;
}

#submitPost {
    font-size: 1em;
    padding-top: .4em;
    padding-bottom: .4em;
    border: 3px solid black;
    
}

#usersList {
    font-size: 1em;
    padding-top: .4em;
    padding-bottom: .4em;
    border: 3px solid black;
}

h1 {
    text-align: center;
    font-weight: 700; 
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px rgb(0, 81, 99);
}

h2 {
    display:flex;
    font-weight: 700; 
    justify-content: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px rgba(0, 81, 99);
}

img {
    padding: .5em;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(4, 94, 133)
}

.user {
    width: 50px;
}

img:hover {
    opacity: .75;
    background: rgb(4, 94, 133);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#post {
    background-color: rgba(0, 142, 174, 0.783);
    width: 600px;
    padding: .5em;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: .5em;

}

.commSect {
    border: 3px solid white;
    background-color: rgba(62, 158, 179, 0.783);
    padding: .5em;
    margin-bottom: .5em;
}