body{
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1518291344630-4857135fb581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(0, 142, 174, 0.783);
    border-radius: .25em;
    padding-top: .5em;
    padding-bottom: .5em;
}

h1 {
    display:flex;
    font-weight: 700; 
    justify-content: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px rgb(0, 81, 99);
}

a {
    font-size: 1.5em;
    color: white;
    padding: 2em;
}

a:hover {
    color: black;
}


#container {
    justify-items: center;
    padding-top: 1.5em;
    display: grid;
    grid-gap: 1em;
}

img {
    padding: .5em;
    border: 3px solid black;
    border-radius: 5px;
    width: 15em;
    background-color: rgb(4, 94, 133)
}

img:hover {
 opacity: .75;
 background: rgb(4, 94, 133);
 -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}